<main class="text-grey-darkest py-8">
    <div class="w-full max-w-lg m-auto px-2">
        <h2 class="font-thin text-black tracking-light text-3xl mb-6">Dashboard</h2>
        <p>You are authenticated as <a class="text-blue underline" href="https://twitter.com/intent/user?user_id={{profile.userId}}">@{{profile.screenName}}</a>.</p>

        <ul class="pl-4 mt-4 table text-sm">
            <li><a class="text-blue underline" href="/dash/dms">View Messages</a></li>
            <li><a class="text-blue underline" href="/dash/settings">Edit Schedule Settings</a></li>
        </ul>
    </div>
</main>
